* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f9fafc;
  color: #1b1b1b;
}

.header {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 0.75em;
}

.emailInputField {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.passwordInputField {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.input-field {
  width: 30vw;
}

.input-field:focus,
.input-field:active {
  box-shadow: none;
  outline: 0px;
}

.other {
  display: flex;
  width: 30vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.forgot {
  color: #5046e5;
  margin-bottom: 0;
  text-decoration: underline;
}

.signInButton {
  width: 30vw;
  background-color: #5046e5;
  color: #f9fafc;
  font-weight: 500;
  border-radius: 8px;
}

.checkbox-label {
  margin-left: 6px;
}